
<li class="cp-item collection_small_content small_content">
  <div class="cp-box">
    
    <div class="cp-img">
      <img src="{{ section.settings.combos_image | img_url: 'master' }}" alt="{{ collection.title }}">
    </div>
      
    <div class="cp-text">
      <h4>{{ section.settings.combos_heading }}</h4>
      <p>{{ section.settings.combos_text }}</p>
      <a href="{{ section.settings.combos_button_link }}" class="btn btn-outline">
        {{- section.settings.combos_button_text -}}
      </a>
    </div>
  </div>
</li>