<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
<script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{ 'zoom-image.js' | asset_url }}" defer="defer"></script>
<!-- <script defer src="https://www.codehim.com/demo/simple-jquery-zoom-image-on-hover/js/jquery.zoom.js"></script> -->
{% if product.images != null %}
  <div
    class="carousel product__image-slider"
    role="document"
    aria-label="{{ 'products.modal.label' | t }}"
    tabindex="0"
  >
    {%- for media in product.media -%}
      {% if forloop.index != 2 %}
        <div class="12345678 carousel-cell zoom">
          {% if media.media_type == 'video' %}
            {{
              media
              | media_tag:
                image_size: '720x',
                autoplay: true,
                loop: loop,
                controls: true,
                preload: 'none',
                autoplay: true,
                height: '100%',
                width: '100%'
            }}
          {% else %}
            <img
              srcset="
                {{ media | img_url: '1440x' }} 1440w,
                {{ media | img_url: '1080x' }} 1080w,
                {{ media | img_url: '720x' }} 767w,
                {{ media | img_url: '480x' }} 480w
              "
              sizes="(min-width: 480px) 1440px, 1080px, 767px, 480px"
              src="{{ media | img_url: 'master' }}"
              alt="{{ media.alt | escape }}"
              border="0"
              data-media-id="{{ media.id }}"
            >
          {% endif %}
        </div>
      {% endif %}
    {%- endfor -%}
  </div>
  {%- comment -%}
    {% if product.images.size > 1 %}
    <div class="carousel product__image-thumbnail">
    	{%- for media in product.media -%}
    	<div class="carousel-cell">
    		<img data-flickity-lazyload-srcset="
    		{{ media | img_url: '1440x' }} 1440w,
    		{{ media | img_url: '1080x' }} 1080w,
    		{{ media | img_url: '720x' }} 767w,
    		{{ media | img_url: '480x' }} 480w"
    		sizes="(min-width: 480px) 1440px, 1080px, 767px, 480px"
    		data-flickity-lazyload-src="{{ media | img_url: 'master' }}"
    		alt="{{ media.alt | escape }}"
    		border="0"
    		data-media-id="{{ media_id }}" />
    	</div>
    	{%- endfor -%}
    </div>
    {% endif %}
  {%- endcomment -%}

{% else %}
  {{ 'product-1' | placeholder_svg_tag }}
{% endif %}

<script>
  $(document).ready(function() {
    if($(window).width() > 767) {
       $('.zoom').zoom({
    	magnify : 1,
      }); 
    }
    else {
       $('.zoom').zoom({
    	magnify : 0.8,
      }); 
    }
     
  })

</script>
<style>
  .zoom:hover img:not(.zoomImg) {
    transition: all linear 0.1s 0s;
  }
  .zoom:hover,
  .zoom::active{
     cursor: crosshair;
    img:not(.zoomImg) {
      opacity: 0;
    }

  }
  img.zoomImg {
    transition: all linear 0.1s 0s;
    cursor: crosshair;
  }
</style>
{%- style -%}
  
{%- endstyle -%}
