<section class="content-container place-now-container color-grey position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                <div class="place-now-content text-center">
                    <h6>{{ section.settings.sub_heading }}</h6>
                    <h2>{{ section.settings.heading }}</h2>
                    {{ section.settings.body_text }}
                    <div class="place-now-cta">
                        <a href="{{ section.settings.btn_link }}" class="btn btn-lg btn-secondary">{{ section.settings.btn_text }}</a>
                    </div>
                    <div class="place-now-bg-img">
                      <img src="{{ section.settings.image |img_url:'362x506' }}" alt="{{ section.settings.image |alt }}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="place-now-bg-img-2">
            <img src="{{ section.settings.bottom_image |img_url:'384x428' }}" alt="{{ section.settings.bottom_image |alt }}" />
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "Find Store",
    "settings": [
      {
        "type" : "text",
        "id" : "sub_heading",
        "label" : "Sub Heading"
      },
      {
        "type" : "text",
        "id" : "heading",
        "label" : "Heading"
      },
      {
        "type" : "richtext",
        "id" : "body_text",
        "label" : "Body Text"
      },
      {
        "type" : "text",
        "id" : "btn_text",
        "label" : "Button Text"
      },
      {
        "type" : "url",
        "id" : "btn_link",
        "label" : "Button Link"
      },
      {
        "type" : "image_picker",
        "id" : "image",
        "label" : "Image"
      },
      {
        "type" : "image_picker",
        "id" : "bottom_image",
        "label" : "Bottom Image"
      }
    
    ]
  }
{% endschema %}
