<section class="content-container help-hub-container">
    <div class="container container1">
        <div class="row">
            <div class="col-sm-8">
                <div class="new-heading mob-center pt-0">
                    <h4>{{ section.settings.heading }}</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <ul class="help-hub-list d-flex flex-wrap">
                    {% for block in section.blocks %}
                    <li class="help-hub-item">
                        <div class="help-hub-box">
                            <h4>{{ block.settings.heading }}</h4>
                            {{ block.settings.body_text }}
                            <a href="{{ block.settings.btn_link }}" class="read-more-link">{{ block.settings.btn_text }}</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-4">
                <div class="help-intro-content">
                    <div class="help-intro-block">
                        <h6>{{ section.settings.subheading }}</h6>
                        <p>{{ section.settings.text }}</p>
                        <ul class="help-intro-links d-flex flex-wrap">
                            <li>
                                <a href="{{ section.settings.live_chat }}" target="_blank" class="help-intro-link"> 
                                {% render 'chat-icon' %}<span>Live Chat</span></a>
                            </li>
                            <li>
                                <a href="mailto:{{ section.settings.email }}" target="_blank" class="help-intro-link"> 
                                {% render 'mail-icon' %}<span>{{ section.settings.email }}</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="help-intro-block">
                        <h6>Popular Topics</h6>
                        <ul>
                           {{ section.settings.topics }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Help Hub",
    "settings": [
      {
      "type" : "text",
      "id" : "heading",
      "label" :"Heading"
      },
       {
      "type" : "text",
      "id" : "subheading",
      "label" :"Sub Heading"
      },
       {
      "type" : "textarea",
      "id" : "text",
      "label" :"Paragraph"
      },
       {
      "type" : "url",
      "id" : "live_chat",
      "label" :"Live Chat URL"
      },
       {
      "type" : "text",
      "id" : "email",
      "label" :"email"
      },
       {
      "type" : "html",
      "id" : "topics",
      "label" :"Popular Topics"
      }
    ],
    "blocks": [
     {
       "name": "Block",
       "type": "block",
       "settings": [               
         {
           "type": "text",
           "id": "heading",
           "label": "Heading"
         },
         {
           "type": "richtext",
           "id": "body_text",
           "label": "Body Text"
         },
         {
           "type": "url",
           "id": "btn_link",
           "label": "Button URL"
         },
         {
           "type": "text",
           "id": "btn_text",
           "label": "Button Text"
         }
       ]
     }
   ]
  }
{% endschema %}
